﻿@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center">
    <h1>Exchange rates</h1>
</div>
<section class="container">
    <table class="table">
        <tr>
            <td class="col-sm-4">
                <button type="button" class="btn btn-success" data-bind="click: getCurrencyRates">Get exchange rates for USD and EURO</button>
            </td>
            <td class="col-sm-8" data-bind="foreach: currencyArray">
                <ul>
                    <li data-bind="text: Currency"></li>
                    <li data-bind="text: SellCash"></li>
                    <li data-bind="text: BuyCash"></li>
                </ul>
            </td>
        </tr>
    </table>
</section>
<script src="~/Scripts/app.js" type="text/javascript"></script>
